<div class="bg-gradient-to-br from-red-400 to-orange w-60 rounded">
  <div class="h-auto relative z-0">
    <img src="https://placehold.co/600x400/png" alt="ini foto" class="" />
    <div
      class="absolute flex items-center justify-center top-0 w-full h-full opacity-0 hover:opacity-100 hover:bg-opacity-[.5] hover:bg-black"
    >
      <a href="" class="border p-2 rounded font-bold text-sm">View</a>
    </div>
  </div>

  <div class="p-5">
    <h2 class="card-title">Card title!</h2>
    <p>If a dog chews shoes whose shoes does he choose?</p>
  </div>
</div>
