---
import Image from "../Elements/Image.astro";
import Button from "../Elements/Button.astro";
---

<div class="h-screen w-full flex flex-col justify-evenly sm:justify-evenly sm:flex-row items-center">
  <Image source="https://placehold.co/600x400/png" style="w-48 h-48 sm:w-72 sm:h-72 rounded-full sm:order-1" />
  <div>
    <h1 class="font-bold text-white text-2xl sm:text-3xl lg:text-5xl">Hello I'm Arya Naufal</h1>
    <h1 class="font-semibold text-white text-lg sm:text-xl lg:text-3xl">Welcome to my portfolio</h1>
    <Button value="Download CV" style="bg-[#ff7e33] text-xs p-2 rounded-md mt-4 font-semibold"/>
  </div>
</div>
