---
import { Astronav, MenuItems, MenuIcon } from "astro-navbar";
import Button from "../Elements/Button.astro";
---

<header
  class="lg:flex justify-between items-center py-5 px-10 gap-5 mx-auto shadow-lg"
>
  <Astronav closeOnClick>
    <div
      class="flex w-full font-bold text-xs text-white sm:text-lg lg:w-auto justify-between"
    >
      <a
        class="bg-clip-text text-transparent bg-gradient-to-r from-red-400 to-orange"
        >Arya Naufal</a
      >
      <!-- Navbar Button Android -->
      <div class="block lg:hidden">
        <MenuIcon class="w-4 h-4 text-orange" />
      </div>
    </div>

    <!-- Navbar Menu Android -->
    <MenuItems class="hidden lg:flex">
      <ul
        class="flex flex-col pt-5 lg:flex-row lg:gap-5 lg:items-center lg:p-0"
      >
        <li>
          <a href="/">
            <Button
              value="Home"
              style="hover:border-b-4 hover:transition-all hover:duration-75 border-b-orange"
            />
          </a>
        </li>
        <li>
          <a href="/">
            <Button
              value="About"
              style="hover:border-b-4 hover:transition-all hover:duration-75 border-b-orange"
            />
          </a>
        </li>
      </ul>
    </MenuItems>
  </Astronav>
</header>