---
import Card from "../Fragments/Card.astro";
---

<section>
  <div
    class="flex flex-col items-center font-bold text-3xl h-screen text-white"
  >
    <h1 class="font-bold text-4xl">About</h1>
    <div class="wrapper flex flex-wrap justify-center items-center h-screen text-xs gap-5 p-5">
      <Card />
      <Card />
      <Card />
      <Card />
    </div>
  </div>
</section>
