---
import Layout from "../Layout.astro";
import Navbar from "../components/Layouts/Navbar.astro";
import Dashboard from "../components/Layouts/Dashboard.astro";
import About from "../components/Layouts/About.astro";
---

<Layout title="Portfolio">
  <main>
    <Navbar />
    <Dashboard />
    <About />
  </main>
</Layout>
