---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Fragments/Navbar.astro";
import Dashboard from "../components/Fragments/Dashboard.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <Navbar />
    <Dashboard />
  </main>
</Layout>

<style></style>
