---
import Card from "./Fragments/Card.astro";
---

<div
  class="flex flex-col items-center h-screen sm:justify-center text-white font-bold text-3xl"
>
  <h1 class="p-20">About</h1>
  <div class="wrapper flex justify-center text-xs flex-wrap gap-5 p-3">
    <Card />
    <Card />
    <Card />
    <Card />
  </div>
</div>
